/* основной цвет #434455 */
/* вторичный цвет #2E2F42 */
/* colors of logo #4D5AE5 and #2E2F42 */
/* color of contacts #434455 */
/* white #FFFFFF */
/* color of footer text #E7E9FC */
/* color of background #F4F4FD */

:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --bc-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
}

body {
  color: var(--primary-text-color);
  background-color: var(--bc-color);
  font-family: roboto;
}

.button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

/* Navigation */

/* logo */
.logo .web:hover:hover,
.logo .web:hover:focus {
  color: var(--hover-color);
}

.logo {
  color: var(--title-text-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.logo .web {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--hover-color);
}

.navigation .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.navigation .link:hover,
.navigation .link:focus {
  color: var(--hover-color);
}

.navigation .link.current {
  color: var(--accent-color);
}

.auth-nav .auth-link {
  color: var(--primary-text-color);
}

.auth-nav .auth-link:hover,
.auth-nav .auth-link:focus {
  color: var(--hover-color);
}

.address {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
}
/* main */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

/* banner */
.first-section-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
}
.first-section {
  background-color: #434455;
}

.btn-order-service {
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn-order-service:hover,
.btn-order-service:focus {
  background-color: var(--hover-color);
}

/* section benefit */
.benefit-list-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.benefit-list-text {
  font-size: 16px;
  line-height: 24px;
}

/* section Our Team */

.section-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.section-profession {
  font-size: 16px;
  line-height: 24px;
}

/* footer */

.footer-text {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 24px;
}

footer .logo .web {
  color: var(--accent-color);
}

footer .logo {
  color: var(--bc-color);
}

footer {
  background-color: var(--title-text-color);
}

/* PORTFOLIO */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* filter buttons */
.list .filter-button {
  color: var(--accent-color);
  font-family: inherit;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--hover-color);
}

.filter-list-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.filter-list-text {
  font-size: 16px;
  line-height: 24px;
}
